*{
    box-sizing: border-box;
    background-color: gray;
}

body{
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
}

main{
    width: 100%;
}

.heading{
    width:100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
}



.top{
    justify-content: space-around;
    align-items:center;
    text-align: center;
}

.top img{
    width: 30%;
}
.top p{
    font-size: 150%;
    text-align: left;
    letter-spacing: 1px;
}

.facts{
    font-size: 150%;
    letter-spacing: 1px;
}